@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
:root{
    --dark_blue: #041E42;
    --blue: #0071DC;
    --offwhite: #F5F5F5;
    --white: #FFFFFF;
    --black: #000000;
    --lato: 'Lato', sans-serif;
}


#signUpSignIn{
    background: var(--dark_blue);
    color: var(--white);
}
#logoSearchCart{
    background: var(--blue);
}
#menu{
    background: var(--offwhite);
}
#hero{}
.titleBackground{
    background: var(--white);
}
#categories{
    background: var(--offwhite);
}
#topChoice{}
#popularProducts{}
#featured{}
#contact{}

.titleBackground{background: var(--white);}
.contentBackground{background: var(--offwhite);}

.groupTitle{
    font-size: 1.5rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    padding: 1rem 0;
    font-family: var(--lato);
}
.productName{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: var(--lato);
}
a.nav-link{
    font-size: 1.5rem !important;
    font-weight: bold !important;
}
